/* Body and General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Headers and Titles */
h1, h2 {
    font-family: 'Helvetica', sans-serif;
    color: #007BFF;
}

/* Buttons */
.button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

/* Links */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Quiz Container */
.quiz-container {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Questions */
.question {
    margin: 20px 0;
}

/* Radio Buttons */
input[type="radio"] {
    margin-right: 10px;
}

/* Result Container */
.result-container {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Answer Container */
.answers-container {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


